{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        ["styled-components", {
          "displayName": false,
        }]
      ]
    },
    "development": {
      "plugins": [
        ["styled-components", {
          "displayName": true,
        }]
      ]
    }, 
  }
}
