{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src",
        "~~": "./src/services"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["styled-components", {
          "displayName": false,
        }]
      ]
    },
    "development": {
      "plugins": [
        ["styled-components", {
          "displayName": true,
        }]
      ]
    }, 
  }
}
